/* Etiquetas */
@mixin flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.cards {

    @include flexbox;
    margin-top: 20px;
    padding: 10px;
    font-size: $font-sz;
    
    
    img {
      width: 100px;
      height: 155px;
    }
    a {
      background-color: $color-secundario;
      color: $color-terciario;
      padding: 7px 12px;
      border-radius: 4px;
      text-decoration: none;
      transition: all 0.4s ease;
      transform: scale(1.1, 1.1);
    }
    a:hover {
      background-color: $color-terciario;
      color: $color-secundario;
      padding: 7px 12px;
      border-radius: 4px;
      text-decoration: none;
      transition: all 0.4s ease;
      transform: scale(1.3, 1.3);
    }
    
  }