$pix-rad: (
    'pix-xs': 10px,
    'pix-m': 20px,
    'pix-xl': 40px,);
    

$color-principal: #4b4d4b;
$color-secundario: black;
$color-terciario: grey;

$tipografia-general: 'Poppins', sans-serif;

$font-sz: large;


